{% extends 'MediaTravelBundle::layout.html.twig' %}
{% block title %}{{ parent() }} cinemas{% endblock %}
{% block body %}
    <div class="row">
    <h1>Cinema list</h1>

    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cinema in cinemas %}
            <tr>
                <td><a href="{{ path('cinema_show', { 'id': cinema.id }) }}">{{ cinema.id }}</a></td>
                <td>{{ cinema.name }}</td>
                <td>{{ cinema.location }}</td>
                <td>{{ cinema.rating }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cinema_show', { 'id': cinema.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cinema_edit', { 'id': cinema.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cinema_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
