{% extends 'MediaTravelBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
    <h1>Cinema</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cinema.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cinema.name }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ cinema.location }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ cinema.rating }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cinema_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cinema_edit', { 'id': cinema.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
